*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/*
 shared style 
 */
 
.primary-color{
    color: #ff42a5;
}
 .primary-btn{
    padding: 21px 40px;
    background-color: #ff42a5;
    border: none;
    border-radius: 48px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;


 }
 .secondary-btn{
        padding: 21px 40px;
        background-color: #4EC5F7;
        border: none;
        border-radius: 48px;
        color: #FFF;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    
     }
 


 /* 
 shared style end here
*/

section{
    width: 1250px;
    margin: 0px auto;
    
}

header{
background-color: #fff;
padding: 30px 0px;
border-bottom: 1px solid transparent;
box-shadow: 0px -17px 28px 0px rgba(0, 0, 0, 0.5);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.logo{
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.logo-name{
font-size: 2.8rem;
font-weight: 700;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu-items a{
    text-decoration: none;
    margin-left: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;

}

.follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 11px 22px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fa-brands{
    font-size: 1.7rem;
    margin-left: 10px;
}

/*
 header section style end here 
 */

 /*
  main section style start here 
 */

 /* 
 banner section styel start here 
  */
  .banner{
      background-image: url('../images/Group\ 14.png');
      background-repeat: no-repeat;
      background-size: 50%;
  }
  .banner-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .banner-info{
      width: 500px;
  }
  .bnr-sub-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-title{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bnr-list-ui{
      list-style: none;
      margin: 20px 0px 35px 0px;
  }
  .bnr-list{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 15px 0px;
  }
  .banner-img{
      width: 50%;
  }
  .banner-btn{
      display: flex;
      align-items: center;
      gap: 0px 24px;
  }

  /* 
  .
  .
  Resposive web esign
  .
  .
  */
@media screen and (max-width:576px) {
    section{
        width: auto;
        padding: 0px 30px;
    }
    header{
        box-shadow: none;
    }
    .primary-btn{
        padding: 20px 38px;
        font-size: 14px;
    }
    .secondary-btn{
        padding: 20px 38px;
        font-size: 14px;
    }

    nav{
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
    }
    .menu-items{
        margin-top: 20px;
    }
    .banner{
    background-size: 101%;
    background-position: bottom;
    padding: 0px 20px;

    }
    .banner-container{
        flex-direction: column-reverse;
        row-gap: 50px;
        margin: 50px 0px;
    }
    .banner-info{
        width: auto;
    }
    .banner-img{
        width: 100%;
    }
    .banner-title{
        font-size: 4rem;
    }
    .bnr-sub-title{
        font-size: 2rem;
    }
    .bnr-list{
        font-size: 15px;
    }
    .banner-btn{
        justify-content: center;
    }

    

    
    /* mobile device end here */
}

/* 
.
.
for medium or tablate divice
.
.
*/
@media screen and (min-width:577px) and (max-width:970px) {
    section{
        width: auto;
        padding: 0px 30px;
    }
    nav{
        flex-direction: column;
        margin-top: 30px;
    }
    header{
        box-shadow: none;
    }
    .banner-container{
        margin: 50px;
    }
    .menu{
        margin-top: 30px;
    }

    .banner-info{
        width: auto;
    }
    .banner-img{
        width: 50%;
    }
    .banner-title{
        font-size: 4rem;
    }
    .bnr-sub-title{
        font-size: 2rem;
    }
    .bnr-list{
        font-size: 15px;
    }
    .banner-btn{
        justify-content: center;
    }
    .primary-btn{
        padding: 20px 38px;
        font-size: 14px;
    }
    .secondary-btn{
        padding: 20px 38px;
        font-size: 14px;
    }

    
}
