* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/*
 shared style 
 */

.primary-color {
    color: #ff42a5;
}

.seconday-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-btn {
    padding: 20px 42px;
    background-color: #ff42a5;
    border: none;
    border-radius: 48px;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;


}

.secondary-btn {
    padding: 20px 42px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

}

.primary-section-title {
    font-size: 48px;
    font-weight: 700;

}

.primary-description {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
}



/* 
 shared style end here
*/

section {
    width: 1250px;
    margin: 0px auto;

}

header {
    background-color: #fff;
    padding: 30px 0px;
    border-bottom: 1px solid transparent;
    box-shadow: 0px -17px 28px 0px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.logo-name {
    font-size: 2.8rem;
    font-weight: 700;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-items a {
    text-decoration: none;
    margin-left: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;

}

.follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 11px 22px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-brands {
    font-size: 1.7rem;
    margin-left: 10px;
}

/*
 header section style end here 
 */

/*
  main section style start here 
 */

/* 
 banner section styel start here 
  */
.banner {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: 50%;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-info {
    width: 500px;
}

.bnr-sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bnr-list-ui {
    list-style: none;
    margin: 20px 0px 35px 0px;
}

.bnr-list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 15px 0px;
}

.banner-img {
    width: 50%;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 0px 24px;
}

/* 
  banner section done or ende here
  */
.about-us {
    padding: 95px 0px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 120px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    width: 60%;
}

.about-info {
    text-align: right;
}

.ad {
    margin: 25px 0px;
}

/* 
about us section done
*/
/* 
Video section strat here
*/
.videos {}

.section-heading {
    text-align: center;
    margin-bottom: 48px;
}

.video-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}





.card {
    width: 309px;
    height: 346px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 19px;
    border-radius: 16px;

}

.card-2 {
    background-image: url('../images/Rectangle 4.png');
}

.card-3 {
    background-image: url('../images/Rectangle 5.png');
}

.card-4 {
    background-image: url('../images/Rectangle 6.png');
}

.card-5 {
    background-image: url('../images/Rectangle 7.png');
}

.video-card-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 24px;
}

.vct {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    width: 340px;
}

/* 
Video sectoin end here
*/
.gamer {
    margin-top: 120px;
    margin-bottom: 120px;
}

.gamer-container {
    display: flex;
    column-gap: 183px;
}

.main-poster {
    width: 600px;
}

.mini-poster {
    width: 280px;
    position: relative;
    bottom: 200px;
    left: 431px;
}

.gamer-info {
    margin-top: 270px;
}

.gd {
    margin-top: 20px;
}

/* 
icon-button
*/
.icon-button{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 90px;
}
.icon-container{
    display: flex;
    gap: 35px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.icon-box {
    width: 250px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    column-gap: 20px;
    color: #0B0223;
}

.icon-text{
font-size: 17px;
font-weight: 600;
}

.icon-box:hover{
    border: 2px solid #ff42a5;
    color: #ff42a5;
}





/* 
  .
  .
  Resposive web esign
  .
  .
  */
@media screen and (max-width:576px) {
    section {
        width: auto;
        padding: 0px 30px;
    }

    header {
        box-shadow: none;
    }

    .primary-btn {
        padding: 20px 38px;
        font-size: 14px;
    }

    .secondary-btn {
        padding: 20px 38px;
        font-size: 14px;
    }

    nav {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }

    .menu-items {
        margin-top: 20px;
    }

    .banner {
        background-size: 101%;
        background-position: bottom;
        padding: 0px 20px;

    }

    .banner-container {
        flex-direction: column-reverse;
        row-gap: 50px;
        margin: 50px 0px;
    }

    .banner-info {
        width: auto;
    }

    .banner-img {
        width: 100%;
    }

    .banner-title {
        font-size: 4rem;
    }

    .bnr-sub-title {
        font-size: 2rem;
    }

    .bnr-list {
        font-size: 15px;
    }

    .banner-btn {
        justify-content: center;
    }

    /* banner section end here */
    .about-container {
        flex-direction: column;
    }

    .about-info {
        text-align: center;
    }

    .about-img {
        width: 100%;
    }

    .about-us {
        padding: 10px 0px;
    }

    .primary-section-title {
        font-size: 39px;
    }

    .ad {
        margin: 12px 0px;
    }

    .video-card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-top: 30px;
    }

    .vct {
        text-align: center;
    }

    /* video section responsive done  */

    .gamer-container {
        flex-direction: column-reverse;
    }

    .gamer-info {
        text-align: center;
        margin: 100px 20px 50px;
    }

    .main-poster {
        width: 100%;
    }

    .mini-poster {
        left: 200px;
        bottom: 90px;
        width: 50%;
    }

    .gd {
        margin-bottom: 20px;
    }
    .icon-button{
        padding: 50px 40px;
    }
    .icon-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .icon-box{
        width: 120px;
    }
    .icon-img{
        width: 35px;
    }
    .icon-text{
        font-size: 12px;
    }





    /* mobile device end here */
}

/* 
.
.
for medium or tablate divice
.
.
*/
@media screen and (min-width:577px) and (max-width:970px) {
    section {
        width: auto;
        padding: 0px 30px;
    }

    nav {
        flex-direction: column;
        margin-top: 30px;
    }

    header {
        box-shadow: none;
    }

    .banner-container {
        margin: 50px;
    }

    .menu {
        margin-top: 30px;
    }

    .banner-info {
        width: auto;
    }

    .banner-img {
        width: 50%;
    }

    .banner-title {
        font-size: 4rem;
    }

    .bnr-sub-title {
        font-size: 2rem;
    }

    .bnr-list {
        font-size: 15px;
    }

    .banner-btn {
        justify-content: center;
    }

    .primary-btn {
        padding: 20px 38px;
        font-size: 14px;
    }

    .secondary-btn {
        padding: 20px 38px;
        font-size: 14px;
    }


}